/* 
    Created on : Sep 27, 2015, 5:37:50 PM
    Author     : Dan
*/

body {
    font-family: Helvetica, Arial, sans-serif;
}

form input, form label {
    display: block;
    margin: 10px 0;
}

th > input[type="checkbox"], td > input[type="checkbox"] {
    padding: 0 10px;
    margin: auto;
}

table.list {
    width: 600px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

// Make odd rows blue, even rows white
tr {
    background-color: white;
}
tr:nth-of-type(odd) {
    background-color: #cff;
}

th, td {
    padding: 5px;
}

th {
    background-color: black;
    color: white;
    text-align: center;
}

td {
    text-align: center;
}

td button {
    display: inline;
    padding: 5px;
    margin: 0;
    background: none;
    border: none;
}

.check {
    width: 50px;
}

.controls {
    margin: 10px 0;
}

.error {
    font-weight: bold;
    margin: 10px 0;
}

.no {
    color: red;
}

.update {
    margin: 10px 0;
}

.yes {
    color: limegreen;
}