/* 
    Created on : Sep 27, 2015, 5:37:50 PM
    Author     : Dan
*/

body {
    font-family: Helvetica, Arial, sans-serif;
}

nav ul {
    list-style-type: none;
    list-style-position: inside;
}

nav li {   
    display: inline;
}

nav li a {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

nav li a:focus, nav li a:hover {
    background-color: #333;
}

form input, form label {
    display: block;
    margin: 10px 0;
}

input[type="checkbox"] {
    text-align: center;
}

table, th, td {
    width: 600px;
    padding: 4px;
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    background-color: black;
    color: white;
}

tr {
    background-color: white;
}

tr:nth-of-type(odd) {
    background-color: #cff;
}

th {
    text-align: left;
}

td button {
    display: inline;
    padding: 5px;
    margin: 0;
    background: none;
    border: none;
}

.controls {
    margin: 10px 0;
}

.error {
    font-weight: bold;
    color: red;
    width: 500px;
}

.select {
    width: 100px;
    text-align: center;
}

.edit button {
    background-color: transparent;
    border: none;
}

.edit-delete {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}